@import "./styles/global.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100dvh;
  background: #141414;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 415px;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #14a0ff;
  }
  button {
    background-color: #f9f9f9;
  }
}
