.nj-shadow-green,
.nj-shadow-blue {
  will-change: filter;
  transition: filter 300ms;
}
.nj-filter-t {
  position: absolute;
  filter: drop-shadow(0 0 2em #14a0ff);
  z-index: 1;
}
.nj-shadow-b:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.nj-shadow-green:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
.nj-shadow-bg {
  filter: drop-shadow(0 0 0.7em #14a0ff);
  backdrop-filter: blur(10px);
}
.bg-main-b {
  background: linear-gradient(215deg, #313131, #31313139);
  z-index: auto;
  position: relative;
  div {
    position: relative;
  }
}
.bg-dark {
  background: #1d1d1d;
}
.bg-tr-30 {
  background: #ffffff30;
}
.btn-main {
  background: linear-gradient(180deg, #14a0ff, #002f5e);
  border-radius: 12px;
  padding: 13px 0 14px;
  width: 80%;
  margin: 0 auto;
  border: none;
  transition: 0.3s ease-in;
  backdrop-filter: blur(5px);
  font-size: 16px;
  font-weight: bold;
  &:hover {
    transition: 0.3s ease-in;
    scale: 1.01;
    filter: drop-shadow(0 0 2em #14a0ff);
  }
  &:active {
    scale: 1;
  }
}

.nj-bg-2 {
  display: block;
  width: 20%;
  height: 20%;
  position: absolute;
  background: rgba(83, 91, 242, 0.1);
  border-radius: 12px;
  left: 0%;
  bottom: 0%;
  z-index: 0;
  filter: drop-shadow(0 0 2em #14a0ff);
  box-shadow:
    0 0 20px #14a1ff79,
    0 0 50px #14a0ff,
    0 0 20px #14a0ff;
}
.bg-main {
  background: #141414;
}
a {
  font-weight: 500;
  color: #14a0ff;
  text-decoration: inherit;
}
.bg-main-b {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: auto;
    left: 0;
    top: auto;
    background-image: url(../assets/img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
}
a:hover {
  color: #14a0ff;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn.btn-ghost {
  outline: none !important;
  background-color: #313131;
  background: linear-gradient(45deg #313131, #313131d7);
  min-height: 40px;
  height: 40px;
  &:hover {
    box-shadow: 0 0 25px #14a0ff;
  }
}
.nj-bg-accent {
  background: linear-gradient(45deg, #002f5ec4, #002f5e);
}

.btn-primary {
  --tw-text-opacity: 1;
  color: var(--fallback-pc, oklch(var(--pc) / var(--tw-text-opacity)));
  outline-color: var(--fallback-p, oklch(var(--p) / 1)) !important;
}
.line-bottom {
  width: 100%;
  display: flex;
  position: relative;
  height: 1px;
  box-shadow: 0 0 10px #14a0ff;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #14a0ff, transparent);
    left: 0;
  }
}

@media screen and (min-width: 500px) {
  .info-reg .reg-body .title-group {
    h2 {
      font-size: 22px !important;
    }
  }
  .info-reg .reg-body .used {
    font-size: 18px !important;
  }
}
